*.python linguist-detectable=true
*.cpp linguist-detectable=false
*.cxx linguist-detectable=false
*.i linguist-detectable=false
*.h linguist-detectable=false
*.so linguist-detectable=false
*.a linguist-detectable=false
